In [1]:
import requests as rq
from bs4 import BeautifulSoup as bs

In [2]:
url = rq.get('https://finance.yahoo.com/most-active')

In [3]:
url.status_code

200

In [4]:
response = url.text

In [5]:
print(len(response))

1034331

In [6]:
page_info = bs(response, 'html.parser')

In [7]:
tickers = page_info.find_all('a', 'Fw(600) C($linkColor)')

In [8]:
tickers[:2]

[<a class="Fw(600) C($linkColor)" data-reactid="79" data-test="quoteLink" href="/quote/AAPL?p=AAPL" title="Apple Inc.">AAPL</a>,
 <a class="Fw(600) C($linkColor)" data-reactid="111" data-test="quoteLink" href="/quote/F?p=F" title="Ford Motor Company">F</a>]

In [9]:
the_tickers = [stock_name.text for stock_name in tickers]

In [10]:
print(the_tickers)

['AAPL', 'F', 'NIO', 'LCID', 'CCL', 'T', 'ITUB', 'AAL', 'AMC', 'AMD', 'RLX', 'PBR', 'BBD', 'BAC', 'NVDA', 'PLTR', 'VALE', 'PFE', 'NCLH', 'NOK', 'DAL', 'CLF', 'BABA', 'UBER', 'VIAC']

In [11]:
company = page_info.find_all('td', 'Va(m) Ta(start) Px(10px) Fz(s)')

In [12]:
company[:5]

[<td aria-label="Name" class="Va(m) Ta(start) Px(10px) Fz(s)" colspan="" data-reactid="81"><!-- react-text: 82 -->Apple Inc.<!-- /react-text --></td>,
 <td aria-label="Name" class="Va(m) Ta(start) Px(10px) Fz(s)" colspan="" data-reactid="113"><!-- react-text: 114 -->Ford Motor Company<!-- /react-text --></td>,
 <td aria-label="Name" class="Va(m) Ta(start) Px(10px) Fz(s)" colspan="" data-reactid="145"><!-- react-text: 146 -->NIO Inc.<!-- /react-text --></td>,
 <td aria-label="Name" class="Va(m) Ta(start) Px(10px) Fz(s)" colspan="" data-reactid="177"><!-- react-text: 178 -->Lucid Group, Inc.<!-- /react-text --></td>,
 <td aria-label="Name" class="Va(m) Ta(start) Px(10px) Fz(s)" colspan="" data-reactid="209"><!-- react-text: 210 -->Carnival Corporation &amp; plc<!-- /react-text --></td>]

In [13]:
all_company = [comp.text for comp in company]

In [14]:
print(all_company)

['Apple Inc.', 'Ford Motor Company', 'NIO Inc.', 'Lucid Group, Inc.', 'Carnival Corporation & plc', 'AT&T Inc.', 'Itaú Unibanco Holding S.A.', 'American Airlines Group Inc.', 'AMC Entertainment Holdings, Inc.', 'Advanced Micro Devices, Inc.', 'RLX Technology Inc.', 'Petróleo Brasileiro S.A. - Petrobras', 'Banco Bradesco S.A.', 'Bank of America Corporation', 'NVIDIA Corporation', 'Palantir Technologies Inc.', 'Vale S.A.', 'Pfizer Inc.', 'Norwegian Cruise Line Holdings Ltd.', 'Nokia Corporation', 'Delta Air Lines, Inc.', 'Cleveland-Cliffs Inc.', 'Alibaba Group Holding Limited', 'Uber Technologies, Inc.', 'ViacomCBS Inc.']

In [15]:
intrday_price = page_info.find_all('td', {'aria-label':'Price (Intraday)'})

In [16]:
intrday_price[:5]

[<td aria-label="Price (Intraday)" class="Va(m) Ta(end) Pstart(20px) Fw(600) Fz(s)" colspan="" data-reactid="83"><fin-streamer active="" class="" data-field="regularMarketPrice" data-pricehint="2" data-reactid="84" data-symbol="AAPL" data-test="colorChange" data-trend="none" value="163.76">163.76</fin-streamer></td>,
 <td aria-label="Price (Intraday)" class="Va(m) Ta(end) Pstart(20px) Fw(600) Fz(s)" colspan="" data-reactid="115"><fin-streamer active="" class="" data-field="regularMarketPrice" data-pricehint="2" data-reactid="116" data-symbol="F" data-test="colorChange" data-trend="none" value="19.87">19.87</fin-streamer></td>,
 <td aria-label="Price (Intraday)" class="Va(m) Ta(end) Pstart(20px) Fw(600) Fz(s)" colspan="" data-reactid="147"><fin-streamer active="" class="" data-field="regularMarketPrice" data-pricehint="2" data-reactid="148" data-symbol="NIO" data-test="colorChange" data-trend="none" value="36.2">36.20</fin-streamer></td>,
 <td aria-label="Price (Intraday)" class="Va(m) Ta(end) Pstart(20px) Fw(600) Fz(s)" colspan="" data-reactid="179"><fin-streamer active="" class="" data-field="regularMarketPrice" data-pricehint="2" data-reactid="180" data-symbol="LCID" data-test="colorChange" data-trend="none" value="48.41">48.41</fin-streamer></td>,
 <td aria-label="Price (Intraday)" class="Va(m) Ta(end) Pstart(20px) Fw(600) Fz(s)" colspan="" data-reactid="211"><fin-streamer active="" class="" data-field="regularMarketPrice" data-pricehint="2" data-reactid="212" data-symbol="CCL" data-test="colorChange" data-trend="none" value="17.89">17.89</fin-streamer></td>]

In [83]:
all_price = [float(price.text) for price in intrday_price]

In [84]:
all_price

[163.76,
 19.87,
 36.2,
 48.41,
 17.89,
 23.05,
 4.06,
 17.42,
 30.28,
 150.68,
 4.43,
 10.47,
 3.67,
 44.89,
 321.26,
 19.69,
 12.99,
 53.04,
 19.16,
 5.74,
 36.64,
 20.13,
 122.0,
 38.12,
 29.56]

In [19]:
price_change1 = page_info.find_all('td', {'aria-label': 'Change'})

In [20]:
all_price_changes1 = [price1.text for price1 in price_change1]

In [21]:
all_price_changes1

['-1.01',
 '+0.29',
 '-2.11',
 '-2.73',
 '+1.51',
 '+0.82',
 '+0.2200',
 '+1.14',
 '+1.71',
 '+1.57',
 '+0.3200',
 '+1.00',
 '+0.2134',
 '+1.26',
 '+6.91',
 '+0.31',
 '+0.74',
 '-1.64',
 '+1.37',
 '+0.18',
 '+3.11',
 '+0.46',
 '-0.49',
 '+2.10',
 '-0.14']

In [22]:
price_change = page_info.find_all('td', {'aria-label':'Change'})

In [31]:
all_price_changes = [float(price.text) for price in price_change]

In [32]:
all_price_changes

[-1.01,
 0.29,
 -2.11,
 -2.73,
 1.51,
 0.82,
 0.22,
 1.14,
 1.71,
 1.57,
 0.32,
 1.0,
 0.2134,
 1.26,
 6.91,
 0.31,
 0.74,
 -1.64,
 1.37,
 0.18,
 3.11,
 0.46,
 -0.49,
 2.1,
 -0.14]

In [25]:
perc_price_change = page_info.find_all('td', {'aria-label':'% Change'})

In [26]:
all_price_changes_perc = [price_perc.text for price_perc in perc_price_change]

In [27]:
all_price_changes_perc

['-0.61%',
 '+1.48%',
 '-5.51%',
 '-5.34%',
 '+9.22%',
 '+3.69%',
 '+5.73%',
 '+7.00%',
 '+5.99%',
 '+1.05%',
 '+7.79%',
 '+10.60%',
 '+6.17%',
 '+2.89%',
 '+2.20%',
 '+1.60%',
 '+6.04%',
 '-3.00%',
 '+7.70%',
 '+3.24%',
 '+9.28%',
 '+2.34%',
 '-0.40%',
 '+5.83%',
 '-0.47%']

In [28]:
volume = page_info.find_all('td', {'aria-label':'Volume'})

In [29]:
all_stock_volumes = [stock_vol.text for stock_vol in volume]

In [30]:
all_stock_volumes

['136.401M',
 '92.27M',
 '84.69M',
 '76.684M',
 '75.985M',
 '79.82M',
 '67.348M',
 '58.316M',
 '54.452M',
 '56.029M',
 '53.265M',
 '52.352M',
 '50.875M',
 '56.595M',
 '46.491M',
 '45.169M',
 '44.738M',
 '46.144M',
 '39.773M',
 '37.527M',
 '34.348M',
 '33.447M',
 '32.09M',
 '31.39M',
 '31.231M']

In [33]:
all_stock_volumes1 = [float(stock_vol.text.replace('M', '')) * 1000000  for stock_vol in volume]

In [34]:
all_stock_volumes1

[136401000.0,
 92270000.0,
 84690000.0,
 76684000.0,
 75985000.0,
 79820000.0,
 67348000.0,
 58316000.0,
 54452000.0,
 56029000.0,
 53265000.0,
 52352000.0,
 50875000.0,
 56595000.0,
 46491000.0,
 45169000.0,
 44738000.0,
 46144000.0,
 39773000.0,
 37527000.0,
 34348000.0,
 33447000.000000004,
 32090000.000000004,
 31390000.0,
 31231000.0]

In [39]:
Avg_quarterly_volume = page_info.find_all('td', {'aria-label':'Avg Vol (3 month)'})
all_quarterly_stock_volumes = [quat_stock_vol.text for quat_stock_vol in Avg_quarterly_volume]
all_quarterly_stock_volumes

['81.512M',
 '86.764M',
 '37.578M',
 '68.222M',
 '33.359M',
 '43.738M',
 '39.47M',
 '32.501M',
 '46.056M',
 '50.904M',
 '12.206M',
 '28.817M',
 '37.119M',
 '45.138M',
 '33.667M',
 '45.004M',
 '37.573M',
 '32.693M',
 '16.082M',
 '19.664M',
 '12.344M',
 '21.686M',
 '21.951M',
 '26.581M',
 '10.348M']

In [40]:
all_quarterly_stock_volumes1 = [float(quat_stock_vol.text.replace('M', '')) * 1000000  for quat_stock_vol in Avg_quarterly_volume]

In [41]:
all_quarterly_stock_volumes1

[81512000.0,
 86764000.0,
 37578000.0,
 68222000.0,
 33359000.0,
 43738000.0,
 39470000.0,
 32500999.999999996,
 46056000.0,
 50904000.0,
 12206000.0,
 28817000.0,
 37119000.0,
 45138000.0,
 33667000.0,
 45004000.0,
 37573000.0,
 32692999.999999996,
 16082000.0,
 19664000.0,
 12344000.0,
 21686000.0,
 21951000.0,
 26581000.0,
 10348000.0]

In [43]:
market_capitalization = page_info.find_all('td', {'aria-label':'Market Cap'})
all_market_cap = [market_cap.text for market_cap in market_capitalization]
all_market_cap

['2.687T',
 '79.405B',
 '57.579B',
 '79.701B',
 '20.855B',
 '164.6B',
 '39.706B',
 '11.28B',
 '15.544B',
 '181.963B',
 '6.959B',
 '68.286B',
 '35.561B',
 '367.383B',
 '800.58B',
 '39.475B',
 '66.075B',
 '297.707B',
 '7.988B',
 '33.651B',
 '23.45B',
 '10.067B',
 '348.195B',
 '73.957B',
 '19.235B']

In [71]:
all_market_cap1 = [float(mark_cap.text.replace('B', '')) * 1000000000 if 'B' in mark_cap.text 
                   else float(mark_cap.text.replace('T', '')) * 1000000000000 if 'T' in mark_cap.text 
                   else float(mark_cap.text.replace('T', '')) * 1000000 for mark_cap in market_capitalization]
all_market_cap1

[2687000000000.0,
 79405000000.0,
 57579000000.0,
 79701000000.0,
 20855000000.0,
 164600000000.0,
 39706000000.0,
 11280000000.0,
 15544000000.0,
 181963000000.0,
 6959000000.0,
 68286000000.0,
 35561000000.0,
 367383000000.0,
 800580000000.0,
 39475000000.0,
 66075000000.0,
 297707000000.0,
 7988000000.0,
 33651000000.000004,
 23450000000.0,
 10067000000.0,
 348195000000.0,
 73957000000.0,
 19235000000.0]

In [85]:
stock_data = {
'Stock Ticker': the_tickers,
'Company Name': all_company,
'Current Price': all_price,
'Change in Price': all_price_changes,
'%age Change in Price': all_price_changes_perc,
'Traded Volume': all_stock_volumes1,
'Quaterly Volume': all_quarterly_stock_volumes1,
'Market Capitalization': all_market_cap1
}

In [86]:
type(stock_data)

dict

In [87]:
import pandas as pd

In [88]:
us_stock_dataset = pd.DataFrame(stock_data)

In [89]:
us_stock_dataset

,Stock Ticker,Company Name,Current Price,Change in Price,%age Change in Price,Traded Volume,Quaterly Volume,Market Capitalization
0,AAPL,Apple Inc.,163.76,-1.0100,-0.61%,136401000.0,81512000.0,2.687000e+12
1,F,Ford Motor Company,19.87,0.2900,+1.48%,92270000.0,86764000.0,7.940500e+10
2,NIO,NIO Inc.,36.20,-2.1100,-5.51%,84690000.0,37578000.0,5.757900e+10
3,LCID,"Lucid Group, Inc.",48.41,-2.7300,-5.34%,76684000.0,68222000.0,7.970100e+10
4,CCL,Carnival Corporation & plc,17.89,1.5100,+9.22%,75985000.0,33359000.0,2.085500e+10
5,T,AT&T Inc.,23.05,0.8200,+3.69%,79820000.0,43738000.0,1.646000e+11
6,ITUB,Itaú Unibanco Holding S.A.,4.06,0.2200,+5.73%,67348000.0,39470000.0,3.970600e+10
7,AAL,American Airlines Group Inc.,17.42,1.1400,+7.00%,58316000.0,32501000.0,1.128000e+10
8,AMC,"AMC Entertainment Holdings, Inc.",30.28,1.7100,+5.99%,54452000.0,46056000.0,1.554400e+10
9,AMD,"Advanced Micro Devices, Inc.",150.68,1.5700,+1.05%,56029000.0,50904000.0,1.819630e+11
10,RLX,RLX Technology Inc.,4.43,0.3200,+7.79%,53265000.0,12206000.0,6.959000e+09
11,PBR,Petróleo Brasileiro S.A. - Petrobras,10.47,1.0000,+10.60%,52352000.0,28817000.0,6.828600e+10
12,BBD,Banco Bradesco S.A.,3.67,0.2134,+6.17%,50875000.0,37119000.0,3.556100e+10
13,BAC,Bank of America Corporation,44.89,1.2600,+2.89%,56595000.0,45138000.0,3.673830e+11
14,NVDA,NVIDIA Corporation,321.26,6.9100,+2.20%,46491000.0,33667000.0,8.005800e+11
15,PLTR,Palantir Technologies Inc.,19.69,0.3100,+1.60%,45169000.0,45004000.0,3.947500e+10
16,VALE,Vale S.A.,12.99,0.7400,+6.04%,44738000.0,37573000.0,6.607500e+10
17,PFE,Pfizer Inc.,53.04,-1.6400,-3.00%,46144000.0,32693000.0,2.977070e+11
18,NCLH,Norwegian Cruise Line Holdings Ltd.,19.16,1.3700,+7.70%,39773000.0,16082000.0,7.988000e+09
19,NOK,Nokia Corporation,5.74,0.1800,+3.24%,37527000.0,19664000.0,3.365100e+10
20,DAL,"Delta Air Lines, Inc.",36.64,3.1100,+9.28%,34348000.0,12344000.0,2.345000e+10
21,CLF,Cleveland-Cliffs Inc.,20.13,0.4600,+2.34%,33447000.0,21686000.0,1.006700e+10
22,BABA,Alibaba Group Holding Limited,122.00,-0.4900,-0.40%,32090000.0,21951000.0,3.481950e+11
23,UBER,"Uber Technologies, Inc.",38.12,2.1000,+5.83%,31390000.0,26581000.0,7.395700e+10
24,VIAC,ViacomCBS Inc.,29.56,-0.1400,-0.47%,31231000.0,10348000.0,1.923500e+10

In [90]:
us_stock_dataset.tail(5)

,Stock Ticker,Company Name,Current Price,Change in Price,%age Change in Price,Traded Volume,Quaterly Volume,Market Capitalization
20,DAL,"Delta Air Lines, Inc.",36.64,3.11,+9.28%,34348000.0,12344000.0,2.345000e+10
21,CLF,Cleveland-Cliffs Inc.,20.13,0.46,+2.34%,33447000.0,21686000.0,1.006700e+10
22,BABA,Alibaba Group Holding Limited,122.00,-0.49,-0.40%,32090000.0,21951000.0,3.481950e+11
23,UBER,"Uber Technologies, Inc.",38.12,2.10,+5.83%,31390000.0,26581000.0,7.395700e+10
24,VIAC,ViacomCBS Inc.,29.56,-0.14,-0.47%,31231000.0,10348000.0,1.923500e+10

In [91]:
us_stock_dataset.head(8)

,Stock Ticker,Company Name,Current Price,Change in Price,%age Change in Price,Traded Volume,Quaterly Volume,Market Capitalization
0,AAPL,Apple Inc.,163.76,-1.01,-0.61%,136401000.0,81512000.0,2.687000e+12
1,F,Ford Motor Company,19.87,0.29,+1.48%,92270000.0,86764000.0,7.940500e+10
2,NIO,NIO Inc.,36.20,-2.11,-5.51%,84690000.0,37578000.0,5.757900e+10
3,LCID,"Lucid Group, Inc.",48.41,-2.73,-5.34%,76684000.0,68222000.0,7.970100e+10
4,CCL,Carnival Corporation & plc,17.89,1.51,+9.22%,75985000.0,33359000.0,2.085500e+10
5,T,AT&T Inc.,23.05,0.82,+3.69%,79820000.0,43738000.0,1.646000e+11
6,ITUB,Itaú Unibanco Holding S.A.,4.06,0.22,+5.73%,67348000.0,39470000.0,3.970600e+10
7,AAL,American Airlines Group Inc.,17.42,1.14,+7.00%,58316000.0,32501000.0,1.128000e+10

In [92]:
us_stock_dataset.to_csv('us_stocks.csv', header=False, index=False)

In [93]:
us_stock_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Ticker           25 non-null     object
 1   Company Name           25 non-null     object
 2   Current Price          25 non-null     float64
 3   Change in Price        25 non-null     float64
 4   %age Change in Price   25 non-null     object
 5   Traded Volume          25 non-null     float64
 6   Quaterly Volume        25 non-null     float64
 7   Market Capitalization  25 non-null     float64
dtypes: float64(5), object(3)
memory usage: 1.7+ KB

In [94]:
df = us_stock_dataset['Current Price'].sum()

In [95]:
df

1253.4099999999999

In [96]:
mean_df = us_stock_dataset['Current Price'].mean()

In [97]:
mean_df

50.136399999999995